.container {
    /* background-color: rgb(47, 55, 94); */
    text-align: center;
    padding: 160px;
    
}

.box {
    background: rgb(249, 209, 152);
    padding: 50px;
    border-radius: 15px;
    display: inline-block;
}

input {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}

button {
    width: 100px;
    padding: 9px;
    margin: 5px;
    /* background-color: rgb(247, 246, 250); */
    border-radius: 15px;
}

a {
    color: black;
}

html {
    background-image: url(aaa.jpg);
}