* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    gap: 20px;
    box-shadow: 0 4px 2px -2px gray;
    background-color: rgb(248, 210, 158);
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
}

.nav2 {
    align-items: center;
    height: auto;
    gap: 200px;
    box-shadow: 0 4px 2px -2px gray;
    background-color: rgb(248, 210, 158);
    justify-content: flex-end;
    display: flex;
    margin-top: 10px;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 70px;
    border-top: 1px solid rgb(136, 147, 136);
}

.nav2 a:hover {
    color: #fff;
}

.logo {
    outline: none;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.logostyle {
    font-family: 'Bradley Hand ITC', cursive;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-button {
    outline: none;
    border: none;
    width: 70px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    cursor: pointer;
    font-size: 24px;
}

.nav-button:hover {
    transform: translateY(-10px);
    color: rgb(253, 246, 237);
    background-color: #010000;
}

.header {
    background-image: url('aaa.jpg');
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    margin-top: 100px;
    padding: 0;
}

.logostyle2 {
    font-family: 'Bradley Hand ITC', cursive;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(252, 249, 249);
    height: 500px;
    font-size: 80px;
    margin: 0;
    animation: color-change 5s infinite;
}

@keyframes color-change {
    0% {
        color: rgb(252, 249, 249);
    }
    25% {
        color: rgb(0, 0, 0);
    }
    50% {
        color: rgb(249, 209, 152);
    }
}

.nav2 a {
    font-family: 'Agency FB', cursive;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

article {
    width: 100%;
    height: auto;
}

article h1 {
    width: 17%;
    height: 50px;
    font-size: 1.9em;
    font-family: cursive;
    font-weight: bolder;
    border: 1px solid #fff;
    text-shadow: 2px 1px 1px #000;
    border-radius: 15px;
    color: #fff;
    background-color: bisque;
    opacity: 0.7;
    margin: 10px 0 0 40px;
    text-align: center;
    position: relative;
    z-index: -1;
}

.Catego {
    width: 100%;
    height: 900px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 20px;
    background-color: rgb(248, 210, 158);
}

div#cateImag {
    width: 200px;
    height: 250px;
    background-color: #000;
    /* border: 1px solid #000; */
    border-radius: 15px;
    box-shadow: -1px 0px 1px 1px #000;
}

#cateImag img {
    width: 16.1vw;
    height: 170px;
    border-radius: 15px 15px 0 0;
}

#cateImag details {
    width: 100%;
    height: 20px;
    color: rgb(248, 210, 158);
    margin-bottom: 29px;
}

#cateImag details summary {
    font-size: 13px;
    font-family: cursive;
    cursor: pointer;
}

#cateImag details p {
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    text-align-last: left;
    color: rgb(250, 228, 197);
}

#cateImag span {
    width: 20px;
    height: 10px;
    border: 1px solid rgb(248, 210, 158);
    color: rgb(255, 255, 255);
    margin-left: 10px;
    padding: 2px;
    border-radius: 20px;
}

#cateImag #bags {
    width: 30px;
    height: 25px;
    float: right;
    margin-bottom: 12px;
    margin-right: 12px;
    border-radius: 10px;
    background-color: rgb(248, 210, 158);
    cursor: pointer;
}

#bags:hover {
    color: #fff;
}

footer {
    width: 100%;
    height: 400px;
    color: aliceblue;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding-top: 6em;
}

footer ul li {
    list-style-type: none;
    color: rgb(248, 210, 158);
}

footer a {
    text-decoration: none;
    color: rgb(250, 228, 197);
}

footer a:hover {
    color: gray;
}

footer h3 {
    font-size: 20px;
    font-family: cursive;
    letter-spacing: 5px;
    color: #efb953;
}

#Store,
#Wallet,
#Contact {
    margin-top: 6em;
    cursor: pointer;
    padding-left: 10px;
}

#Search {
    margin-top: 9em;
    margin-right: 10px;
}

#Search label {
    font-size: 20px;
    color: #efb953;
}

#Search input {
    width: 180px;
    height: 25px;
    border-radius: 10px;
}